<!DOCTYPE html>
<html>
<head>
	<title>Plateforme de profil</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	       <a class="navbar-brand" href="#">Bienvenu nom et prenom</a>
	    </div>
	     <div class="self" style="float: right; color: #fff;"><a class="navbar-brand btn btn-danger" href="">deconnexion</a></div>
	  </div>
	</nav>
      <div class="card" style="width: 20%;">
      <div class="card-body">
      <h3 class="card-title" style="text-align: center; margin-bottom: 30px; padding-top: 30px;">Modifier mon profil</h3>
     </div>
      <ul class="list-group list-group-flush">
  		<li class="list-group-item">Nom :<input type="text" name="nom" class="form-control" placeholder="Nouveau Nom"></li>
    
         <li class="list-group-item">Prenom :<input type="text" name="nom" size="40" class="form-control"placeholder="Nouveau Prenom"></li>
        <li class="list-group-item">E-mail :<input type="email" name="nom" size="40" class="form-control" placeholder="Nouveau E-mail"></li>
         <li class="list-group-item">Nouveau Mot de passe:<input type="password" name="nom" size="40" class="form-control" placeholder="Nouveau mot de passe"></li>
        <li class="list-group-item">Confirmer Mot de passe:<input type="password" name="nom" size="40" class="form-control" placeholder="confirmer "></li>
     <button class="btn btn-info form-control" style="margin-top: 10px;">Modifier</button> 
     
  </ul>
</div>
</body>
</html>