<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" >
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>AGRIXXI</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=EB+Garamond|Pacifico|Raleway');



body{
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
 }
 #logo{
    background: rgb(31, 30, 30);
    height: 15vh;
   
   
}
#con{
    text-align: center;
    color: antiquewhite;
    padding-top: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    font-weight: bold;
    
}
#log{
    font-family: 'Pacifico', cursive;
    color: goldenrod;
}
#navig{
    padding-left: 35%;
    border-bottom: 1px solid  rgb(31, 30, 30);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
  
}
li{
    padding-left: 50px;
    
}
input{
    border: 0;
    font-size: 20px;
    font-weight: bold;
}
.card{
    
    padding-top: 200px;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    text-align: center;
    height: 800px;
    width: 600px;
    box-shadow: 5px 5px 5px 5px goldenrod;
    color: antiquewhite;
    font-size: 20px;
}

.footer{
    background: rgb(31, 30, 30);
    height: 25vh;
    color: antiquewhite;
    padding-top: 20px;
    font-size: 20px;
}


#conf{
    text-align: center;
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    
}
#logf{
    font-family: 'Pacifico', cursive;
    color: goldenrod;
    }
    </style>
</head>
<body> 
      <div class="container">
          
      </div>
        <div id="logo" class="col-md-12">
                <h1 id="con">AGR<span id="log">Y </span>XXI<span id="point">.</span></h1>
        </div>

        <nav class="navbar navbar" >
            <div class="container-fluid" id="navig" >
                <ul class="nav navbar-nav" >
                    <li class="active"><a href="#">Acceuil</a></li>
                    <li><a href="formation">Formation</a></li>
                    <li><a href="forum">Forum</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Compte<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        <li><a href="inscription">Inscription</a></li>
                        <li><a href="connexion">Connexion</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container" >
                <form name="form1" style="margin-bottom: 20px;">
                        <div style="align:center"> 
                        <input type="text" name="deftext" size=100>
                        </div>
                        </form>
               
        </div>
        
            <div class="container-fluid"> 
            
                        <div class="row" style="margin-top: 2Opx; height: 100vh; margin-left: 0px;"> 
                
                            <div class="col-md-10"> 
                                    <div class="container">
                                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                              <ol class="carousel-indicators">
                                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                              </ol>
                                          
                                              <div class="carousel-inner">
                                                <div class="item active">
                                                  <img src="car1.jpg" alt="agriculteur" style="width:100%; height: 50%;">
                                                </div>
                                          
                                                <div class="item">
                                                  <img src="car6.jpg" alt="agriculture" style="width:100%; height: 50%;">
                                                </div>
                                              
                                                <div class="item">
                                                  <img src="car3.jpg" alt="plante" style="width:100%; height: 50%;">
                                                </div>
                                              </div>
                                          
                                              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                                <span class="sr-only">Precedent</span>
                                              </a>
                                              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                                <span class="sr-only">Suivant</span>
                                              </a>
                                            </div>
                                    </div>
                                         
                            </div>             
                    
                            

                            
                            <div class="col-md-2 " style="background:url(im2.jpg); background-size:cover; background-repeat:no-repeat; height:100vh; border-raduis:5px;">
                               <h1>Info suplémentaires</h1>

                               <ul></ul>
                            </div>
                        
                        </div> 
                        
                    
                    
                    
            </div>
















        <div class="footer">
               <div class="container">
                    <div class="row">
                            <div class="col-md-4">
                                    <h1 id="conf">AGR<span id="logf">Y </span>XXI<span id="pointf">.</span></h1>
                                    <p style="font-size:10p;"><em> Une reference en matier de formation agricole...</em></p>
                            </div>
                            <div class="col-md-4">
                                <h1>A PROPOS</h1>
                                <p>Nous proposons des formations dans la domaine de l'agriculture</p>
                                <p></p>
                            </div>
                            <div class="col-md-4">
                                <h1>CONTACT</h1>
                                <p>TEl : 00225_4523412 <br> Adresse: Angre Chu <br> FaceBook: agry_business</p>
                            </div>
                     </div>
                     
                    <p style="margin-top:20px; text-align: center;">Copyright@CodeXXI-2019</p>
               </div>
                 

        </div>

        <script language="JavaScript">
                var position=0;
                var msg="Bienvenue sur AgryXXI, votre site de formation agricole ...";
                var msg="     "+msg;
                var longue=msg.length;
                var fois=(100/msg.length)+1;
                for(i=0;i<=fois;i++) msg+=msg;
                function textdefil() {
                document.form1.deftext.value=msg.substring(position,position+100);
                position++;
                if(position == longue) position=0;
                setTimeout("textdefil()",100); 
                }
                window.onload = textdefil;
        </script>
</body>
</html>