<html>
    <header>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" />
            
    </header>
<body>
<div class="class ui segment form">
<h2>AJOUTER PRODUIT</h2>
        <form method="post">
                <p><input type="text" name="libelle" placeholder="Libellé du produit"></p>
                <p><input type="text" name="quantite" placeholder="Quantité du produit"></p>
                <p><input type="text" name="prix" placeholder="Prix du produit"></p>
                <p><textarea type="text" name="description" placeholder="Description du produit">
                    </textarea>
                </p>
                <div class="ui button">
                    <button type="submit"><i class="ui icon cart"></i>   Ajouter votre produit</button>
                </div>
        </form>
      
</div>
 
</body>
</html>